/* h1{
    color: blue;
    text-align: center;
    margin-top: 20px;
}

div{
    background-color: coral;
    margin-left: 20px;
} */
/*use classes*/
#list1{
    font-size: larger;
}

#content{
   padding: 50px;
   text-align: justify;
   /* color: orangered; */

}

h1{
    padding-top: 80px;
    text-align: center;
    color: aqua;
    font-size: 55px;
}
img{
    margin-top: 80px;
    height: 120%;
    width: 100%;
    opacity: 0.7;
}
link{
    color: aqua;
}
h2{
    font-size: 24px;
    color: black;
}