*{
    padding: 0%;
    margin: 0%;
}
#nav{
    text-align: center;
    list-style: none;
    width:100%;
    position: fixed;
    top: 0;
    background-image:linear-gradient(to right, rgb(159, 206, 247), white, rgb(169, 202, 245));

}
#nav ul{
    background-image:linear-gradient(to right, rgb(159, 206, 247), white, rgb(169, 202, 245));
    margin-top: 20px;
}
#nav ul li{
    display:inline-block;
    margin-right: 90px;
    font-weight: bold;
    padding-bottom: 20px ;
}
.navLink{
    display: block;
    text-decoration: none;
    color:black;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#nav ul li .navLink:hover{
    color: rgb(240, 9, 28);
    transform: scale(1.2);
    transition-duration: .4s;

}
.active_class{
    color: rgb(245, 24, 43);
    transform: scale(1.2);
    transition-duration: .4s;
}
#nav ul li #subm-1{
    position: absolute;
    left:500px;
}
#nav ul li #subm-2{
    position: absolute;
    left:640px;
}
#nav ul li ul li {
    padding: 20px;
    margin-right: 0px;
    display: block;
}
li{
    text-align: left;
}
ul li ul{
    display: none;
}
ul li:hover ul{
    display: block;
}