*{
    padding: 0%;
    margin: 0%;
}
#nav{
    text-align: center;
    list-style: none;
    width:100%;

}
#nav ul li{
    display:inline-block;
    padding: 40px;
    font-weight: bold;
}
#nav ul li a{
    display: inline-block;
    text-decoration: none;
    color:black;
}
#nav ul li a:hover #nav{
    color: blueviolet;
    background-color: burlywood;

}