*{
    padding: 0%;
    margin: 0%;
}
#nav{
    text-align: center;
    list-style: none;
    width:100%;
    position: fixed;
    background-image:linear-gradient(to right, white, rgb(159, 206, 247), white);

}
#nav ul{
    background-image:linear-gradient(to right, white, rgb(159, 206, 247), white);
    margin-top: 20px;
}
#nav ul li{
    display:inline-block;
    margin-right: 90px;
    font-weight: bold;
    padding-bottom: 20px ;
}
 a{
    display: block;
    text-decoration: none;
    color:black;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#nav ul li a:hover{
    color: rgb(240, 57, 72);
    transform: scale(1.2);
    transition-duration: .4s;

}
#nav ul li #subm-1{
    position: absolute;
    left:460px;
}
#nav ul li #subm-2{
    position: absolute;
    left:600px;
}
#nav ul li ul li {
    padding: 20px;
    margin-right: 0px;
    display: block;
}
li{
    text-align: left;
}
ul li ul{
    display: none;
}
ul li:hover ul{
    display: block;
}