*{
    box-sizing: border-box;
}

.base-container{
    margin:  70px auto 0px;
    width: 450px;
    background-color: #f7f7f7;
}

.signup-header{
    height: 50px;
    background-color:  #f7f7f7;
    border: 2px solid #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkred;
}

.signup-container{
    padding: 20px;
}

.signup-container label{
    font-weight: bold;
    margin-bottom: -10px;
}

.signup-container input{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #f0f0f0;
    margin: 0 0 0 50px;
}

select{
    width: 48%;
    height: 30px;
}

#district, #state{
    width: 48%;
}
#submit{
    width: 30%;
    padding: 10px;
    background-color: rgb(243, 178, 178);
    border-radius: 5px ;
    color: white;
    font-weight: bolder;
   margin: 5px 150px;
   outline: none;
}
.signup-container input:focus{
    color: red;
    box-shadow: 2px 2px 2px red;
}
#submit:hover{
    background-color: #f0f0f0;
    color:red;
}